.logo-icon5 {
  position: absolute;
  height: 62.81%;
  width: 61.8%;
  top: 0;
  right: 20.93%;
  bottom: 37.19%;
  left: 17.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.i110,
.i111 {
  position: relative;
}
.i111 {
  cursor: pointer;
}
.parent29,
.parent30 {
  width: 215px;
  height: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.parent30 {
  width: 160px;
  height: 72px;
  color: var(--color-hotpink);
}
.i117 {
  position: relative;
  text-align: left;
}
.frame-parent6,
.parent31 {
  display: flex;
  align-items: flex-start;
}
.parent31 {
  width: 131px;
  height: 72px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  text-align: right;
  color: var(--color-mediumaquamarine);
}
.frame-parent6 {
  position: absolute;
  height: 17.03%;
  width: 68.45%;
  top: 70.82%;
  right: 1.02%;
  bottom: 12.16%;
  left: 30.53%;
  flex-direction: row;
  justify-content: space-between;
}
.copyright-20243 {
  position: absolute;
  height: 3.44%;
  width: 12.09%;
  top: 96.56%;
  left: 0;
  display: inline-block;
  color: var(--color-cadetblue);
}
.its-alright-all3,
.think-about-your3 {
  position: absolute;
  top: 96.56%;
  left: 30.53%;
}
.its-alright-all3 {
  left: 78.02%;
  color: var(--color-mediumaquamarine);
}
.group-icon {
  position: absolute;
  height: 4.64%;
  width: 6.12%;
  top: 69.93%;
  right: 93.88%;
  bottom: 25.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer3 {
  position: absolute;
  top: 3956.5px;
  left: 106px;
  width: 1274px;
  height: 552px;
  font-size: var(--desktop-paragraph-small-size);
  color: var(--color-goldenrod);
}
.bubble-icon48 {
  width: 51px;
  position: relative;
  height: 61px;
}
.bubble-line9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.bubble-line-wrapper1 {
  position: absolute;
  height: 8.62%;
  width: 25.63%;
  top: 91.38%;
  right: 74.37%;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.i119,
.i120,
.i121 {
  position: absolute;
  top: 0;
  left: calc(50% - 675px);
}
.i120,
.i121 {
  top: 53px;
  font-size: var(--desktop-paragraph-size);
}
.i121 {
  top: 354px;
  font-size: var(--desktop-subtitle-3-size);
  display: inline-block;
  width: 445px;
}
.frame-child15 {
  position: absolute;
  top: 0;
  left: 628px;
  width: 722px;
  height: 599px;
  object-fit: cover;
}
.state-inputs3 {
  background-color: var(--color-white);
  border: 1px solid var(--color-khaki);
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-9xl);
}
.state-button6,
.state-inputs3,
.wrapper2 {
  width: 423px;
  border-radius: var(--br-11xl);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.wrapper2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-pink);
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-9xl);
  color: var(--color-hotpink);
}
.state-button6 {
  background-color: var(--color-mediumaquamarine);
  display: none;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-152xl);
  text-align: center;
  color: var(--color-white);
}
.state-inputs-parent1 {
  position: absolute;
  top: 426px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--desktop-paragraph-small-size);
  color: var(--color-goldenrod);
}
.button-request-child5,
.order-application2 {
  position: absolute;
  height: 83.19%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 16.81%;
  left: 0;
}
.button-request-child5 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.i125 {
  position: absolute;
  height: 7.14%;
  width: 46.98%;
  top: 46.26%;
  left: 26.7%;
  display: inline-block;
}
.button-request8 {
  position: absolute;
  height: 25.71%;
  width: 13.48%;
  top: 55.51%;
  right: 56%;
  bottom: 18.79%;
  left: 30.52%;
  text-align: center;
  font-size: var(--desktop-paragraph-small-size);
  color: var(--color-white);
}
.individual-care2 {
  position: absolute;
  height: 100%;
  width: 99.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0.07%;
}
.bubble-line11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.bubble-line10 {
  position: absolute;
  height: 8.62%;
  width: 25.39%;
  top: 91.38%;
  right: 74.61%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.care-request1 {
  position: absolute;
  top: 3184.5px;
  left: 60px;
  width: 1351px;
  height: 708px;
  font-size: var(--desktop-title-l-size);
}
.popular-products-child1 {
  position: absolute;
  top: 0;
  left: -41px;
  border-radius: 0 var(--br-161xl) var(--br-161xl) 0;
  width: 762px;
  height: 748px;
  object-fit: cover;
}
.collection20,
.i126,
.i127 {
  position: absolute;
  top: 145px;
  left: 924px;
  display: inline-block;
  width: 312px;
}
.collection20,
.i127 {
  width: 77.84%;
  top: 0;
  left: 0;
}
.i127 {
  width: 22.16%;
  left: 77.84%;
  text-align: right;
}
.p23 {
  margin: 0;
}
.i128 {
  position: absolute;
  width: 77.84%;
  top: 66.23%;
  left: 0;
  font-size: var(--desktop-paragraph-small-size);
  display: inline-block;
}
.card-frame-s-child3,
.card-name-m17 {
  position: absolute;
  height: 8.35%;
  width: 100%;
  top: 91.65%;
  right: 0;
  bottom: 0;
  left: 0;
}
.card-frame-s-child3 {
  height: 90.15%;
  top: 0;
  bottom: 9.85%;
  border-radius: var(--br-161xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-frame-s5 {
  position: absolute;
  top: 188px;
  left: 924px;
  width: 421px;
  height: 461px;
}
.bubble-line12 {
  position: absolute;
  top: -30px;
  left: 1034px;
  width: 346px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.popular-products4 {
  position: absolute;
  top: -0.5px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 748px;
}
.bubble-line13 {
  position: absolute;
  top: -30.5px;
  left: 1034px;
  width: 346px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.popular-products3 {
  top: 2372.5px;
  background-color: var(--color-white);
  width: 1440px;
  height: 748px;
}
.card-name-m18,
.i130,
.popular-products3 {
  position: absolute;
  left: 0;
}
.i130 {
  width: 77.84%;
  top: 66.07%;
  font-size: var(--desktop-paragraph-small-size);
  display: inline-block;
}
.card-name-m18 {
  height: 8.36%;
  width: 100%;
  top: 91.64%;
  right: 0;
  bottom: 0;
}
.card-frame-m12 {
  width: 421px;
  position: relative;
  height: 670px;
}
.card-frames5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.card-frames4,
.div89 {
  position: absolute;
  left: 0;
}
.card-frames4 {
  top: 89px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div89 {
  top: 0;
  font-size: var(--desktop-title-l-size);
  font-family: var(--font-museomoderno);
}
.new-collections1 {
  position: absolute;
  top: 1549.5px;
  left: 60px;
  width: 1311px;
  height: 759px;
}
.product-card-details-child,
.product-card-details-item {
  position: absolute;
  height: 8.94%;
  top: 24.7%;
  bottom: 66.36%;
  left: calc(50% - 631px);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(247, 117, 169, 0.1) 32.9%,
    rgba(255, 255, 255, 0) 57.5%
  );
  width: 1263px;
}
.product-card-details-item {
  height: 18.68%;
  top: 2.77%;
  bottom: 78.55%;
  left: calc(50% - 291px);
  width: 829px;
}
.div90 {
  position: absolute;
  top: 1001px;
  left: calc(50% - 254px);
  font-size: var(--desktop-title-l-size);
  font-family: var(--font-museomoderno);
}
.banner-ls-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.banner-ls-icon,
.product-image-l {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.product-info {
  position: absolute;
  top: 125px;
  left: 0;
  width: 844px;
  height: 844px;
}
.product-image-m-icon {
  width: 411.5px;
  position: relative;
  height: 411.5px;
}
.star-product-image-m,
.star-product-image-m1 {
  width: 410.4px;
  position: relative;
  height: 410.4px;
  object-fit: cover;
}
.star-product-image-m1 {
  width: 409px;
  height: 409px;
}
.icon13,
.product-image-m-parent {
  position: absolute;
  overflow: hidden;
}
.product-image-m-parent {
  top: calc(50% - 1161px);
  left: calc(50% - 631px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon13 {
  height: 100%;
  width: 3.54%;
  top: 0;
  right: 8.4%;
  bottom: 0;
  left: 88.06%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.instance-child7 {
  width: 43px;
  position: relative;
  background-color: var(--color-cadetblue);
  border: 1px solid var(--color-cadetblue);
  box-sizing: border-box;
  height: 4px;
}
.icon14,
.rectangle-parent2 {
  position: absolute;
  cursor: pointer;
}
.rectangle-parent2 {
  height: 42.86%;
  width: 3.24%;
  top: 28.57%;
  right: 96.76%;
  bottom: 28.57%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon14 {
  height: 81.63%;
  width: 3%;
  top: 8.16%;
  right: 0;
  bottom: 10.2%;
  left: 97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon24,
.vector-icon25 {
  width: 53px;
  position: relative;
  height: 49px;
}
.vector-icon25 {
  width: 37px;
}
.vector-icon26,
.vector-icon27 {
  width: 39px;
  position: relative;
  height: 49px;
}
.vector-icon27 {
  width: 31px;
}
.vector-container,
.what-the-hair2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.vector-container {
  width: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.what-the-hair2 {
  width: 14.64%;
  right: 41.83%;
  left: 43.53%;
  cursor: pointer;
}
.header-pages2 {
  position: absolute;
  top: 10px;
  left: calc(50% - 649px);
  width: 1298px;
  height: 49px;
}
.moisture-me {
  position: relative;
  font-size: var(--desktop-title-l-size);
}
.i136 {
  width: 455px;
  position: relative;
  display: inline-block;
  color: var(--color-black);
  flex-shrink: 0;
}
.product-name {
  position: absolute;
  top: 365px;
  left: 916px;
  width: 455px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 100px;
  color: var(--color-hotpink);
}
.i138 {
  position: relative;
  text-decoration: line-through;
  color: var(--color-black);
}
.i139,
.parent33 {
  position: absolute;
  left: 916px;
  color: var(--color-mediumaquamarine);
}
.parent33 {
  top: 762px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-size: var(--desktop-title-l-size);
}
.i139 {
  top: 821px;
}
.product-card-details {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 4518px;
  overflow: hidden;
  text-align: left;
  font-size: var(--desktop-subtitle-2-bold-size);
  color: var(--color-black);
  font-family: var(--font-museo-sans-cyrl);
}
