.cart-sidebar-view-child {
  position: fixed;
  top: -200px;
  left: 133px;
  border-radius: var(--br-341xl);
  width: 2368px;
  height: 2144px;
}

.feed-me-pussycat {
  position: fixed;
  top: 330px;
  left: 660px;
}
.state-button10 {
  position: fixed;
  top: 757px;
  left: calc(50% - 212px);
  border-radius: var(--br-11xl);
  background-color: var(--color-hotpink);
  width: 524px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-152xl);
  box-sizing: border-box;
  text-align: justify;
}

.button-text {
  position: fixed;
  top: 762px;
  left: calc(65% - 212px);
}

.i149,
.i150 {
  position: fixed;
  display: inline-block;
}
.i149 {
  top: 705px;
  left: calc(50% - 225.5px);
  width: 159px;
}
.i150 {
  top: 380px;
  left: calc(50% + 183px);
  text-align: center;
  width: 86px;
  height: 26px;
}
.total-sum {
  position: fixed;
  top: 711px;
  left: calc(50% - 212px);
  width: 451px;
  height: 32px;
  font-size: var(--desktop-subtitle-2-bold-size);
}
.item-in-cart-child {
  position: fixed;
  top: 423px;
  left: 506px;
  max-height: 100%;
  width: 526px;
}
.item-in-cart-item {
  position: fixed;
  bottom: 123px;
  left: 506px;
  max-height: 100%;
  width: 526px;
}
.item-in-cart-item {
  top: 250px;
}
.item-in-cart-inner {
  position: fixed;
  top: 300px;
  left: 50;
  border-radius: var(--br-81xl);
  width: 99px;
  height: 99px;
  object-fit: cover;
}
.i151 {
  position: fixed;
  top: 705px;
  left: calc(50% + 183px);
}

.i152 {
  position: fixed;
  top: 300px;
  left: 660px;
}
.wrapper4 {
  width: 166px;
  position: fixed;
  height: 19px;
  font-size: var(--desktop-paragraph-small-size);
}
.item-info {
  position: fixed;
  top: 850px;
  left: 200px;
}
.i153 {
  position: relative;
  top: 250px;
  left: calc(50% - 4.45px);
}
.vector-icon30,
.vector-icon31 {
  position: fixed;
  top: 334px;
  left: calc(75% - 4.45px);
}
.vector-icon31 {
  position: fixed;
  top: 342px;
  left: calc(70% - 4.45px);
}
.counter {
  position: fixed;
  top: 81px;
  left: calc(50% + 171px);
  width: 94.9px;
  height: 29px;
}
.item-in-cart {
  position: fixed;
  top: 144px;
  left: 28px;
  width: 532px;
  height: 123px;
  font-size: var(--desktop-subtitle-2-bold-size);
}
.i154 {
  position: fixed;
  top: 650px;
  left: calc(50% - 143px);
}
.vector-icon32 {
  position: fixed;
  top: 49px;
  left: calc(75% - 4.45px);
  width: 14px;
  height: 14px;
  
}
.i155 {
  position: fixed;
  align-items: center;
  top: 160px;
  left: calc(60% - 68px);
  font-size: var(--desktop-title-l-size);
}
.sidebar-cart {
  position: fixed;
  top: 0;
  left: 44px;
  width: 596px;
  height: 864px;
}
.cart-sidebar-view {
  width: 1440px;
  position: fixed;
  height: 859px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: right;
  font-size: var(--desktop-paragraph-small-size);
  color: var(--color-white);
  font-family: var(--font-museo-sans-cyrl);
}
