.child24 {
  position: fixed;
  top: -636px;
  left: -1212px;
  border-radius: var(--br-341xl);
  width: 2368px;
  height: 2144px;
}
.vector-icon16 {
  position: fixed;
  top: 75px;
  left: 869px;
  width: 36px;
  height: 36px;

}
.i59,
.with-nasa {
  position: fixed;
  top: 300px;
  left: 200px;
}
.with-nasa {
  top: 359px;
  left: 200px;
  font-size: var(--desktop-subtitle-size);
  white-space: pre-wrap;
}
.i60 {
  position: fixed;
  top:417px;
  left: 200px;
}
.i61 {
  position: fixed;
  top: 240px;
  left: 200px;
}
.div87,
.side-bar-sort {
  position: fixed;
  top: 322px;
  left: 63px;
  width: 318px;
  height: 219px;
}
.div87 {
  top: 0;
  left: 0;
  width: 732px;
  height: 864px;
}
.sidebar-menu {
  width: 1440px;
  position: fixed;
  height: 864px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--desktop-title-l-size);
  color: var(--color-white);
  font-family: var(--font-museo-sans-cyrl);
}
